<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="pt-5 pb-2 text-center">
        <h2>헌터 정보</h2>
        <div class="pt-3">
            <h5>
                [[${hunter.characteristic.option} ? ${hunter.characteristic.characteristic} : '']] [[${hunter.name}]] ([[${hunter.hunterClass.topClassName()}]])
            </h5>
            <h6>[[${hunter.stat.getGrade()}]]</h6>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn-primary"
                    onclick="location.href='hunters.html'"
                    th:onclick="|location.href='@{/hunters}'|"
                    type="button">헌터 목록</button>
            <form action="#" th:action="@{|${hunter.id}/delete|}" th:method="delete" style="display: inline">
                <input type="hidden" name="_method" value="delete" />
                <button class="btn-danger float-end" type="submit" id="submitButton" th:onclick="if(!confirm('헌터를 삭제하시겠습니까?')) return false">헌터 삭제</button>
            </form>
            <button class="btn-primary float-end mx-3"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{|/hunters/${hunter.id}/edit|}'|"
                    type="button">헌터 수정</button>
        </div>
    </div>

    <hr class="my-4">
    <div class="row my-4">
        <div class="col">
            <button onclick="location.href='hunters.html'"
                    th:onclick="|location.href='@{|/hunters/${hunter.id}|}'|"
                    type="button">정보</button>
            <button onclick="location.href='hunters.html'"
                    th:onclick="|location.href='@{|/hunters/${hunter.id}/equipments|}'|"
                    type="button">장비</button>
            <button onclick="location.href='hunters.html'"
                    th:onclick="|location.href='@{|/hunters/${hunter.id}/tech|}'|"
                    type="button">비법</button>
        </div>
    </div>

    <div>
        <div class="status">
            <table class="table table-sm text-center table-hover">
                <thead>
                <tr>
                    <th class="col-md-3">옵션</th>
                    <th class="col-md-3">수치</th>
                    <th class="col-md-6">상세</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>공격력</td>
                    <td th:text="${totalSpec.atk} + ' %'">+182%</td>
                    <td>상세</td>
                </tr>
                <tr>
                    <td>공속</td>
                    <td th:text="${totalSpec.spd} + ' %'">+40%</td>
                    <td> </td>
                </tr>
                <tr>
                    <td>회피</td>
                    <td th:text="${totalSpec.evasion} + ' %'">+33%</td>
                    <td></td>
                </tr>
                <tr>
                    <td>치명</td>
                    <td th:text="${totalSpec.crit} + ' %'">+46%</td>
                    <td></td>
                </tr>
                <tr>
                    <td>치피</td>
                    <td th:text="${totalSpec.crit_dmg} + ' %'">+101%</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <table th:border="0" th:class="d-inline-block">
                <tr>
                    <th th:text="'현재 공격속도'"></th>
                    <th th:text="${atkSpd[0]} &gt; 0 ? ${#numbers.formatDecimal(atkSpd[0], 1, 2)} : '0'"></th>
                </tr>
                <tr>
                    <td th:text="'0.5 까지'"></td>
                    <td th:text="${atkSpd[0]} &gt; 0 ? ${#numbers.formatDecimal(atkSpd[1], 1, 1)} : '0'"></td>
                </tr>
                <tr>
                    <td th:text="'0.25 까지'"></td>
                    <td th:text="${atkSpd[0]} &gt; 0 ? ${#numbers.formatDecimal(atkSpd[2], 1, 1)} : '0'"></td>
                </tr>
            </table>
        </div>
    </div>

</div> <!-- /container -->
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</body>
</html>