<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="pt-5 pb-2 text-center">
        <h2>헌터 정보</h2>
        <div class="pt-3">
            <h5>
                [[${hunter.characteristic.option} ? ${hunter.characteristic.characteristic} : '']] [[${hunter.name}]] ([[${hunter.hunterClass.topClassName()}]])
            </h5>
            <h6>[[${hunter.stat.getGrade()}]]</h6>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn-primary"
                    onclick="location.href='hunters.html'"
                    th:onclick="|location.href='@{/hunters}'|"
                    type="button">헌터 목록</button>
            <form action="#" th:action="@{|${hunter.id}/delete|}" th:method="delete" style="display: inline">
                <input type="hidden" name="_method" value="delete" />
                <button class="btn-danger float-end" type="submit" id="submitButton" th:onclick="if(!confirm('헌터를 삭제하시겠습니까?')) return false">헌터 삭제</button>
            </form>
            <button class="btn-primary float-end mx-3"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{|/hunters/${hunter.id}/edit|}'|"
                    type="button">헌터 수정</button>
        </div>
    </div>

    <hr class="my-4">
    <div class="row my-4">
        <div class="col">
            <button onclick="location.href='hunters.html'"
                    th:onclick="|location.href='@{|/hunters/${hunter.id}|}'|"
                    type="button">정보</button>
            <button onclick="location.href='hunters.html'"
                    th:onclick="|location.href='@{|/hunters/${hunter.id}/equipments|}'|"
                    type="button">장비</button>
            <button onclick="location.href='hunters.html'"
                    th:onclick="|location.href='@{|/hunters/${hunter.id}/tech|}'|"
                    type="button">비법</button>
        </div>
    </div>

    <div>
        <div class="status">
            <table class="table table-sm text-center table-hover">
                <thead>
                <tr>
                    <th class="align-middle">옵션</th>
                    <th class="align-middle">수치</th>
                    <th class="align-middle">상세</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="align-middle">공격력</td>
                    <td class="align-middle" th:text="${#numbers.formatDecimal(specMap.totalSpec.atk, 1, 1)} + ' %'">+182%</td>
                    <td class="align-middle">
                        <span th:text="${specMap.characteristicSpec.atk} &gt; 0 ? |성격(${#numbers.formatDecimal(specMap.characteristicSpec.atk, 1, 0)})| : _ "></span>
                        <span th:text="${specMap.statSpec.atk} &gt; 0 ? |스탯(${#numbers.formatDecimal(specMap.statSpec.atk, 1, 0)})| : _ "></span>
                        <span th:text="${specMap.techSpec.atk} &gt; 0 ? |비법(${#numbers.formatDecimal(specMap.techSpec.atk, 1, 0)})| : _ "></span>
                        <span th:text="${specMap.equipmentSpec.atk} &gt; 0 ? |장비(${#numbers.formatDecimal(specMap.equipmentSpec.atk, 1, 0)})| : _ "></span>
                        <span th:text="${specMap.guildSpec.atk} &gt; 0 ? |연합(${#numbers.formatDecimal(specMap.guildSpec.atk, 1, 0)})| : _ "></span>
                        <span th:text="${specMap.collectionSpec.atk} &gt; 0 ? |도감(${#numbers.formatDecimal(specMap.collectionSpec.atk, 1, 1)})| : _ "></span>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle">공격속도</td>
                    <td class="align-middle" th:text="${#numbers.formatDecimal(specMap.totalSpec.spd, 1, 1)} + ' %'">+40%</td>
                    <td class="align-middle">
                        <span th:text="${specMap.characteristicSpec.spd} &gt; 0 ? |성격(${#numbers.formatDecimal(specMap.characteristicSpec.spd, 1, 0)})| : _ "></span>
                        <span th:text="${specMap.statSpec.spd} &gt; 0 ? |스탯(${#numbers.formatDecimal(specMap.statSpec.spd, 1, 0)})| : _ "></span>
                        <span th:text="${specMap.techSpec.spd} &gt; 0 ? |비법(${#numbers.formatDecimal(specMap.techSpec.spd, 1, 0)})| : _ "></span>
                        <span th:text="${specMap.equipmentSpec.spd} &gt; 0 ? |장비(${#numbers.formatDecimal(specMap.equipmentSpec.spd, 1, 0)})| : _ "></span>
                        <span th:text="${specMap.guildSpec.spd} &gt; 0 ? |연합(${#numbers.formatDecimal(specMap.guildSpec.spd, 1, 0)})| : _ "></span>
                        <span th:text="${specMap.collectionSpec.spd} &gt; 0 ? |도감(${#numbers.formatDecimal(specMap.collectionSpec.spd, 1, 1)})| : _ "></span>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle">회피</td>
                    <td class="align-middle" th:text="${#numbers.formatDecimal(specMap.totalSpec.evasion, 1, 1)} + ' %'">+33%</td>
                    <td class="align-middle">
                        <span th:text="${specMap.characteristicSpec.evasion} &gt; 0 ? |성격(${#numbers.formatDecimal(specMap.characteristicSpec.evasion, 1, 0)})| : _ "></span>
                        <span th:text="${specMap.statSpec.evasion} &gt; 0 ? |스탯(${#numbers.formatDecimal(specMap.statSpec.evasion, 1, 0)})| : _ "></span>
                        <span th:text="${specMap.techSpec.evasion} &gt; 0 ? |비법(${#numbers.formatDecimal(specMap.techSpec.evasion, 1, 0)})| : _ "></span>
                        <span th:text="${specMap.equipmentSpec.evasion} &gt; 0 ? |장비(${#numbers.formatDecimal(specMap.equipmentSpec.evasion, 1, 0)})| : _ "></span>
                        <span th:text="${specMap.guildSpec.evasion} &gt; 0 ? |연합(${#numbers.formatDecimal(specMap.guildSpec.evasion, 1, 0)})| : _ "></span>
                        <span th:text="${specMap.collectionSpec.evasion} &gt; 0 ? |도감(${#numbers.formatDecimal(specMap.collectionSpec.evasion, 1, 1)})| : _ "></span>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle">치명</td>
                    <td class="align-middle" th:text="${#numbers.formatDecimal(specMap.totalSpec.crit, 1, 1)} + ' %'">+46%</td>
                    <td class="align-middle">
                        <span th:text="${specMap.characteristicSpec.crit} &gt; 0 ? |성격(${#numbers.formatDecimal(specMap.characteristicSpec.crit, 1, 0)})| : _ "></span>
                        <span th:text="${specMap.statSpec.crit} &gt; 0 ? |스탯(${#numbers.formatDecimal(specMap.statSpec.crit, 1, 0)})| : _ "></span>
                        <span th:text="${specMap.techSpec.crit} &gt; 0 ? |비법(${#numbers.formatDecimal(specMap.techSpec.crit, 1, 0)})| : _ "></span>
                        <span th:text="${specMap.equipmentSpec.crit} &gt; 0 ? |장비(${#numbers.formatDecimal(specMap.equipmentSpec.crit, 1, 0)})| : _ "></span>
                        <span th:text="${specMap.guildSpec.crit} &gt; 0 ? |연합(${#numbers.formatDecimal(specMap.guildSpec.crit, 1, 0)})| : _ "></span>
                        <span th:text="${specMap.collectionSpec.crit} &gt; 0 ? |도감(${#numbers.formatDecimal(specMap.collectionSpec.crit, 1, 1)})| : _ "></span>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle">치피</td>
                    <td class="align-middle" th:text="${#numbers.formatDecimal(specMap.totalSpec.crit_dmg, 1, 1)} + ' %'">+101%</td>
                    <td class="align-middle">
                        <span th:text="${specMap.characteristicSpec.crit_dmg} &gt; 0 ? |성격(${#numbers.formatDecimal(specMap.characteristicSpec.crit_dmg, 1, 0)})| : _ "></span>
                        <span th:text="${specMap.statSpec.crit_dmg} &gt; 0 ? |스탯(${#numbers.formatDecimal(specMap.statSpec.crit_dmg, 1, 0)})| : _ "></span>
                        <span th:text="${specMap.techSpec.crit_dmg} &gt; 0 ? |비법(${#numbers.formatDecimal(specMap.techSpec.crit_dmg, 1, 0)})| : _ "></span>
                        <span th:text="${specMap.equipmentSpec.crit_dmg} &gt; 0 ? |장비(${#numbers.formatDecimal(specMap.equipmentSpec.crit_dmg, 1, 0)})| : _ "></span>
                        <span th:text="${specMap.guildSpec.crit_dmg} &gt; 0 ? |연합(${#numbers.formatDecimal(specMap.guildSpec.crit_dmg, 1, 0)})| : _ "></span>
                        <span th:text="${specMap.collectionSpec.crit_dmg} &gt; 0 ? |도감(${#numbers.formatDecimal(specMap.collectionSpec.crit_dmg, 1, 1)})| : _ "></span>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle">영장</td>
                    <td class="align-middle" th:text="${#numbers.formatDecimal(specMap.totalSpec.primate, 1, 1)} + ' %'">+101%</td>
                    <td class="align-middle">
                        <span th:text="${specMap.characteristicSpec.primate} &gt; 0 ? |성격(${#numbers.formatDecimal(specMap.characteristicSpec.primate, 1, 0)})| : _ "></span>
                        <span th:text="${specMap.statSpec.primate} &gt; 0 ? |스탯(${#numbers.formatDecimal(specMap.statSpec.primate, 1, 0)})| : _ "></span>
                        <span th:text="${specMap.techSpec.primate} &gt; 0 ? |비법(${#numbers.formatDecimal(specMap.techSpec.primate, 1, 0)})| : _ "></span>
                        <span th:text="${specMap.equipmentSpec.primate} &gt; 0 ? |장비(${#numbers.formatDecimal(specMap.equipmentSpec.primate, 1, 0)})| : _ "></span>
                        <span th:text="${specMap.guildSpec.primate} &gt; 0 ? |연합(${#numbers.formatDecimal(specMap.guildSpec.primate, 1, 0)})| : _ "></span>
                        <span th:text="${specMap.collectionSpec.primate} &gt; 0 ? |도감(${#numbers.formatDecimal(specMap.collectionSpec.primate, 1, 1)})| : _ "></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row align-items-center">
            <div class="col text-center">
                <table th:border="0" th:class="d-inline-block">
                    <tr>
                        <th th:text="'영장 + 전공 + 치피'"></th>
                    </tr>
                    <tr>
                        <td th:text="${specMap.totalSpec.primate} + ${specMap.totalSpec.atk} + ${specMap.totalSpec.crit_dmg}"></td>
                    </tr>
                </table>
            </div>
            <div class="col text-center">
                <table th:border="0" th:class="d-inline-block">
                    <tr>
                        <th th:text="'현재 공격속도'"></th>
                        <th th:text="${atkSpd[0]} &gt; 0 ? ${#numbers.formatDecimal(atkSpd[0], 1, 2)} : '0'"></th>
                    </tr>
                    <tr>
                        <td th:text="'0.5 까지'"></td>
                        <td th:text="${atkSpd[0]} &gt; 0 ? ${#numbers.formatDecimal(atkSpd[1], 1, 1)} : '0'"></td>
                    </tr>
                    <tr>
                        <td th:text="'0.25 까지'"></td>
                        <td th:text="${atkSpd[0]} &gt; 0 ? ${#numbers.formatDecimal(atkSpd[2], 1, 1)} : '0'"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div> <!-- /container -->
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</body>
</html>